[Unit]
Description=Discard unused blocks once a week
Documentation=man:fstrim

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=multi-user.target
