#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export INSTALL_MOD_DIR:=extra

PACKAGE_NAME := sonic-platform-ingrasys-s9100
KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MODULE_SRC := $(shell pwd)/modules
UTILS_SRC := $(shell pwd)/utils
SERVICE_SRC := $(shell pwd)/service
CONF_SRC := $(shell pwd)/conf

%:
	dh $@ --with systemd

clean:
	dh_testdir
	dh_testroot
	dh_clean

build:
	make modules -C $(KERNEL_SRC)/build M=$(MODULE_SRC)

binary: binary-arch binary-indep
	# Nothing to do

binary-arch: 
	# Nothing to do

#install: build
	#dh_testdir
	#dh_testroot
	#dh_clean -k 
	#dh_installdirs

binary-indep:
	dh_testdir
	dh_installdirs

	# Custom package commands
	mkdir debian/tmp/usr/sbin -p
	mkdir debian/tmp/lib/systemd/system -p
	mkdir debian/tmp/etc -p
	dh_installdirs -p$(PACKAGE_NAME) $(KERNEL_SRC)/$(INSTALL_MOD_DIR)
	cp $(MODULE_SRC)/*.ko debian/$(PACKAGE_NAME)/$(KERNEL_SRC)/$(INSTALL_MOD_DIR)
	cp $(UTILS_SRC)/i2c_utils.sh debian/$(PACKAGE_NAME)/usr/sbin/
	cp $(UTILS_SRC)/s9100_monitor.sh debian/$(PACKAGE_NAME)/usr/sbin/
	cp $(UTILS_SRC)/fancontrol debian/$(PACKAGE_NAME)/usr/sbin/
	cp $(SERVICE_SRC)/s9100-monitor.service debian/$(PACKAGE_NAME)/lib/systemd/system/
	cp $(SERVICE_SRC)/fancontrol.service debian/$(PACKAGE_NAME)/lib/systemd/system/
	cp $(CONF_SRC)/fancontrol debian/$(PACKAGE_NAME)/etc/

	# Resuming debhelper scripts
	dh_testroot
	dh_install
	dh_installchangelogs
	dh_installdocs
	dh_systemd_enable
	dh_installinit
	dh_systemd_start
	dh_link
	dh_fixperms
	dh_compress
	dh_strip
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
.PHONY: build binary binary-arch binary-indep clean
